wandb/*

results/*

!results/Mutagenicity
results/Mutagenicity/*
!results/Mutagenicity/tmd_train_test*

!results/MUTAG
results/MUTAG/*
!results/MUTAG/tmd_train_test*

!results/PROTEINS
results/PROTEINS/*
!results/PROTEINS/tmd_train_test*

**__pycache__**

slurm*

scripts/*

parse_kfold_results.py

data/*

*.sqsh