wandb/*

results/*
!results/Mutagenicity
results/Mutagenicity/*
!results/Mutagenicity/tmd_train_test_sub_C2.pt

!results/PROTEINS
results/PROTEINS/*
!results/PROTEINS/tmd_train_test_sub_C2.pt

**__pycache__**

slurm*

scripts/*

parse_kfold_results.py

data/*